html{
  scroll-behavior: smooth;
  font-family:'Open Sans',sans-serif;
}

body{
  position: relative;
  letter-spacing: 0.0625em;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

#mainNav {
  min-height: 4rem;
  background-color: #fff;
}
#mainNav .navbar-toggler {
  font-size: 100%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

#mainNav .navbar-brand {
  color: #000000;
  font-weight: 550;
  padding: 0.9rem 0;
}

@media only screen and (min-width: 992px)  {
  /* For Large Screens */
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: 0.4s;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .nav-link {
    font-size:95%;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.7);
    transition: padding 0.4s;
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
  }
  #mainNav.smallNav {
    background-color: #fff;
  }
  #mainNav.smallNav .navbar-brand {
    color: #000000;
  }
  #mainNav.smallNav .nav-link {
    color: #000000;
    padding: 1.25rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.smallNav .nav-link:hover {
    color: #7395ae;
  }
  #mainNav.smallNav .nav-link:active {
    color: #467370;
  }
  #mainNav.smallNav .nav-link.active {
    color: #7395ae;
    border-bottom: 0.25rem solid #7395ae;
  }
}

.masthead{
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../assets/cablecar.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead h1{
  font-family: 'Open Sans', 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
}

.masthead p{
  font-family: 'Ubuntu', sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width:750px) {
  .masthead h1{
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
}

@media only screen and (min-width:992px) {
  .masthead h1{
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

.page-section{
  padding: 7rem;
}

.section-header{
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

.section-text{
  font-family: 'Ubuntu', sans-serif;
  font-size
}

.skills-img{
  font-size: 5em;
  color: #3087cf;
}
